/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background: rgba(20, 20, 20, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    z-index: 1000;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #66b2ff;
}

/* Intro */

#intro {
    position: relative;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url("../assets/images/bg.jpg");
    background-size:cover;
    background-position:center;
}

.intro-bottom{
    position:absolute;

    bottom:30px;
    left:50%;

    transform:translateX(-50%);

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;

    z-index:2;
}

.intro-buttons{
    display: flex;
    gap: 20px;
}

/**/

.btn{
    text-decoration:none;

    padding:14px 28px;

    border-radius:8px;

    font-weight:bold;

    transition:.3s;
}



.primary{
    background:#3498db;
    color:white;
}

.primary:hover{
    background:#2980b9;
}

.secondary{
    border:2px solid white;
    color:white;
}

.secondary:hover{
    background:white;
    color:#222;
}

/* Arrow */

.scroll-down{
    background:none;
    border:none;
    cursor:pointer;
}

.scroll-down img{
    width:42px;
}

/* bounce animation */

@keyframes bounce{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(10px);
    }

}

.scroll-down img{
    animation:bounce 1.8s infinite;
}

/* Dark overlay */

#intro::before {
    content: "";

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.55);
}

.about-card {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;

    padding: 20px;

    width: 900px;
    max-width: 90%;

    background: rgba(30, 30, 30, 0.75);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    overflow: hidden;
}

.about-card img {
  width: 280px;
    height: 280px;

    object-fit: cover;
    object-position: center;

    border-radius: 12px;
    flex-shrink: 0;
}


.about-content {
    padding: 40px;

    display: flex;
    flex-direction: column;
}

.about-content h1 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.about-content hr {
    width: 80px;
    margin-bottom: 25px;
    border: 2px solid #66b2ff;
}

.about-content p {
    line-height: 1.7;
    color: #ececec;
}

/* Socials */

.socials {
    margin-top: auto;

    display: flex;
    gap: 25px;

    padding-top: 40px;
}

.socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: transform .3s ease;
}

.socials a img {
    width: 32px;
    height: 32px;

    display: block;
}

.socials a:hover {
    transform: translateY(-3px);
}

/* End Intro */

/* Fav Projects */

#fav-projects {
    min-height: 100vh;

    padding: 100px 60px;

    background: #111;
}


#fav-projects h2 {
    text-align: center;
    font-size: 2.5rem;

    margin-bottom: 50px;
}

/* Project card */

.project-card {

    display: flex;

    max-width: 1000px;
     margin: 0 auto 50px auto;

    background: rgba(30,30,30,0.8);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* Carasoul Image */

.project-image {
    position: relative;
    width: 45%;
    overflow: hidden;
}

.project-image img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 0;

    transition: opacity .35s ease;
}

.project-image img.active {
    opacity: 1;
}

/* Arrow */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 42px;
    height: 42px;

    border: none;
    border-radius: 50%;

    background: rgba(0,0,0,.6);
    color: white;

    cursor: pointer;

    opacity: 0;

    transition: .25s;

    z-index: 2;
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}

.project-image:hover .arrow {
    opacity: 1;
} 

/* dots */

.dots {

    position: absolute;

    bottom: 15px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    gap: 8px;

    z-index: 2;
}

.dot {

    width: 10px;
    height: 10px;

    border-radius: 50%;

    background: rgba(255,255,255,.45);

    cursor: pointer;

    transition: .25s;
}

.dot.active {

    background: white;
    transform: scale(1.2);

}

/**/

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
 
.projects-list .project-card:nth-child(even) {
    flex-direction: row-reverse;
}

/* Text side */

.project-content {

    width: 55%;

    padding: 40px;

    display:flex;
    flex-direction:column;

}


.project-content h3 {

    font-size:2rem;

    margin-bottom:20px;

}


/* Tags */

.project-tags {

    display:flex;

    gap:10px;

    flex-wrap:wrap;

    margin-bottom:25px;

}


.project-tags span {

    background:black;

    padding:8px 15px;

    border-radius:5px;

    font-size:.9rem;

}


/* Description */

.project-content p {

    color:#ddd;

    line-height:1.7;

    margin-bottom:30px;

}


/* Buttons */

.project-buttons {

    display:flex;

    gap:20px;

    margin-top:auto;

}

/* End Fav Projects */

/* Footer */

footer {
    background: #0b0b0b;
    border-top: 1px solid rgba(255,255,255,.08);

    padding: 30px 60px;
}

.footer-content {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    text-align: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: .3s;

    display: flex;
    align-items: center;
}

.footer-links a:hover {
    color: #66b2ff;
}

/* Separator */
.footer-links a:not(:last-child)::after {
    content: "|";

    color: rgba(255,255,255,.35);

    margin: 0 15px;

    pointer-events: none;
}

/* End Footer */

/* Mobile */

@media (max-width: 768px) {

    .about-card {
        flex-direction: column;
    }

    .about-card img {
        width: 100%;
        height: 300px;
    }

    header {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    nav {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    } 

    .project-card {

        flex-direction:column;

    }


    .project-card > img {

        width:100%;
        height:300px;

    }


    .project-content {

        width:100%;

        padding:30px;

    }

.footer-content {
    justify-content: center;
}

}